html {
  box-sizing: border-box;
}

*, ::after, ::before{
  box-sizing: inherit;
}

.body{
  background-color: #2E3138;
  color: #66fcf1
}

.row{
  max-width: 80%;
  width: 100%;
  border: 1px solid gray;
  margin: 10px auto;
  text-align: center;
  padding: 20px;
}

.form__input{
  max-width: 80px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 10px;
  font-weight: bold;
}

.button{
  padding: 15px 25px;
  font-weight: bold;
  border: none;
  border-radius: 45px;
  margin: 10px;
  background-color: #66fcf1;
  font-size: 16px;
}

.removeButton{
  margin: 10px;
  font-size: 14px;
  border: 1px solid #f66e6e;
  background: none;
  color: #f66e6e;
  padding: 10px 25px;
  border-radius: 40px
}

.removeButton:hover{
  cursor: pointer;
  background-color: #f66e6e;
  color: black;
}

.button:hover{
  cursor: pointer;
  background-color: #66fcf2d2;
}

.section__new{
  border: 1px solid white;
  padding: 10px;
}