<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <script type="text/javascript" src="../js/main.js"></script>
  <script type="text/javascript" src="../js/chart.js"></script>
  <title>DNS</title>

<body class="body">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form action="#" method="post">
      <div class="input_fields_wrap">
        <p><button class="add_field_button button">Dodaj Task</button>
      </div>
      <button class="js-button button">Rysuj Wykres</button>
    </form>
  </div>
  <div class="col-md-4"></div>
  <!-- <div></div> tutaj bedzie miejsce na wykres -->
</div>

</body>
</html>